<div>
  <%= simple_form_for :search, url: families_path, method: :get, html: { class: 'form-font-courier form-inline form-wrapper' } do |f| %>
  <div class="form-font-courier">
    <%= f.input :country_origin, collection: Family.all.map(&:country_origin).uniq.sort %>
    <%= f.input :pension, collection: Family.all.map(&:pension).uniq %>
    <%= f.input :churchgoer, collection: [true, false] %>
    <%= f.input :swinger, collection: [true, false] %>
    <%= f.button :submit, value: 'Cuddle' %>
    <%= f.button :button, 'Reset', :type => 'reset', :class => 'btn' %>
  </div>
  <% end %>
</div>
