<div class="wrapper", style="margin-left: 10px">

  <div class="map-container">
  <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
    'packages':['geochart'],
    'mapsApiKey': '<%= ENV['GOOGLE_MAP_KEY'] %>'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      let data = google.visualization.arrayToDataTable(<%= @countries_list.to_json.html_safe %>);

      let options = {
      colorAxis: {colors: ['#E7DBC1', '#E2CA95', '#E5B03D']},
    };

    const chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    google.visualization.events.addListener(chart, 'select',() => {
      let selection = chart.getSelection();
      console.log(selection);
      const clicked_country = data.getValue(selection[0].row, 0);
      // filterWithAjax(clicked_country);
      const redirect = "/families?search[country_origin]=" + clicked_country
      window.location = redirect
    });

    chart.draw(data, options);
    }

  </script>


<div class="container text-center">
  <%= link_to families_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Ken_logo5.png" %>
  <% end %>
<h4>Cuddle.families</h4>
</div>

  <div class="text-center container-white-large">
    <div>
      <%= render 'families/search-filter' %>
    </div>
  </div>



  <div class="container text-center">
    <div class="row">
      <% @families.each do |family| %>
        <div class="col-xs-12 col-md-4 text-deco-no">
          <%= link_to family_path(family) do %>
            <div class="card" >
              <div class= "card-title">
                <h5>Family <strong><%= family.name %></strong> - <%= family.price_per_day %>€/day</h5>
              </div>
              <%= cl_image_tag family.photo.path, :style => "height: 180px; width: 250px" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
