<div class="wrapper", style="margin-left: 10px">
  <h3>List of the available families</h3>
  <div class="container", style="margin-top: 40px">
    <div>
      <%= render 'families/search-filter' %>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <% @families.each do |family| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to family_path(family) do %>
            <div class="card" >
              <div class= "card-title">
                <h5>Family <strong><%= family.name %></strong> - <%= family.price_per_day %>€/day</h5>
              </div>
              <%= cl_image_tag family.photo.path, :style => "height: 180px; width: 250px" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
