<div class="show-container">

  <div class="family-info">
    <div class="text-center" style="height: 50px, width: 40rem">
      <p>Family <%= @family.name %>, lives in  <%= @family.city %>
        <p>A Ken experience at only  <%= @family.price_per_day.to_s %> €</p>
      <%= cl_image_tag @family.photo.path, class: "big-img" %><br>
    </div>
  </div>

  <div class="form-container">
    <%= render 'bookings/form' %>
  </div>

</div>
