
<div class="show-container">

  <div class="family-info">
    <div class="text-center" style="height: 50px, width: 40rem">
      <p>Family <%= @family.name %>, lives in  <%= @family.city %>
        <p>A Ken experience at only  <%= @family.price_per_day.to_s %> €</p>
      <%= image_tag @family.photo, class: "big-img" %><br>
    </div>
  </div>

  <div class="form-container">
    <%= render 'bookings/form' %>
  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    const coord = <%= raw @flat_coordinates.to_json %>;
    alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>
<% end %>
