<div class="container">
  <div class="family-info">
    <div class="text-center" style="height: 50px, width: 40rem">
      <p>Name: <%= @family.name %></p>
      <br>
      <p>City: <%= @family.city %></p>
      <br>
      <%= image_tag @family.photo, class: "big-img" %><br>
      <%= "Price/day:  #{@family.price_per_day.to_s} €" %>
    </div>
  </div>
  <div class="form-container">
    <%= render 'bookings/form' %>
  </div>
</div>
