<h3>Book your family</h3>

<p>Price per day : <%= @family.price_per_day %> €</p>

<p>
  <%= simple_form_for [@family, @booking] do |f| %>
    <%= f.error_notification %>
    <%= f.input :start_date %>
    <%= f.input :end_date, error: 'The end date must after the start date' %>
    <%= f.submit "Book your family", class: "btn btn-danger" %>
  <% end %>
</p>
