<div class="container">
  <h2>Families you're going to ken</h2>


  <% @bookings.each do |booking| %>
    <div class="booked">
      <% family = find_family(booking.family_id) %>
      <%= cl_image_tag family.photo.path, class: "medium-img" %>
      <div class="booked-name">
        <h3>Family <%= family.name %></h3>
        <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
      </div>
      <div class="booked-body">
        <p><strong>Origin: <%= family.country_origin %></strong></p>
        <p>
          Now living in <%= family.city %>
        </p>
      </div>
      <div class="booked-status">
        <p class="status ken">Ken on going</p>
        <p class="price"><%= booking.total_price %>€</p>
      </div>
    </div>
  <% end %>
</div>




  <%#= booking.review_from_owner %>
  <%#= booking.review_from_customer %>



<!-- for each booking you can see it's review
call the external form to review your past bookings
 -->
