<h3>Book your family</h3>

<p>Price per day : <%= @family.price_per_day %> €</p>

<p>
  <%= simple_form_for [@booking, @user, @family] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Book your family", class: "btn btn-danger" %>
  <% end %>
</p>
